body {
    background-color: black;
}

header h1 {
    font-family: veranda;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

div {
    color: aquamarine;
    font-size: 16px;
    position: center;
}

footer {
    background-color: lavender;
    text-align: center;
}
